{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Inscription</h1>
            <form  class="needs-validation gap-5" novalidate>
                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.lastname) }}  
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    {{ form_row(registrationForm.submit) }}
                {{ form_end(registrationForm) }}
            
            </form>
        </div>    
    </div>
</div>
    

    

        
{% endblock %}
