{% extends 'base.html.twig' %}

{% block title %}Taches{% endblock %}

{% block body %}
    <h1>Taches</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tach.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ tach.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tach.description }}</td>
            </tr>
            <tr>
                <th>Priorite</th>
                <td>
                    {% for priority in tach.priorite %}
                            {{ priority }}
                            {% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ tach.statut | join(', ') }}</td>
            </tr>
            <tr>
                <th>Date début</th>
                <td>{{ tach.start ? tach.start|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date fin</th>
                <td>{{ tach.end ? tach.end|date('Y-m-d') : '' }}</td>
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('app_taches_index') }}">back to list</a>

    <a href="{{ path('app_taches_edit', {'id': tach.id}) }}">edit</a>

    {{ include('taches/_delete_form.html.twig') }}
{% endblock %}
